* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 300px;
    
}
nav {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;

}
footer {
    display: flex;
    align-items: center; 
    position: fixed;
    bottom: 0;
}